Repository depromeet/InsightOut-Server, pull requests merged in 2023-06, with the labels that each got.

#82 [Feature] Swagger 설정을 공통으로 적용
  src/apps/server/main.ts
Labels: 🔥 enhancement

#84 [Feature] build shell 파일 추가
  .github/workflows/deploy.yml
  buildAndStart.sh
  package.json
  yarn.lock
Labels: ☁️ AWS

#86 feat: infra appspec.yml file 추가
  appspec.yml
  deploy-before.sh
  deploy-run.sh
Labels: ☁️ AWS

#88 [Feature] 컬럼 속성 수정
  src/libs/modules/database/schema.prisma
Labels: 💽 database, 🔥 enhancement

#87 [Feature] 회원가입 시 기본 정보 생성 로직 추가
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.module.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/auth/dtos/post-reissue.dto.ts
  src/apps/server/auth/dtos/post-signin.dto.ts
  src/apps/server/auth/dtos/signin-request-body.dto.ts
  src/apps/server/common/consts/default-capability.const.ts
  src/apps/server/common/exceptions/base.exception.ts
  src/apps/server/common/filters/custom-exception.filter.ts
  src/apps/server/common/guards/signin-request-body.interface.ts
  src/apps/server/common/guards/signin.guard.ts
  src/libs/modules/database/repositories/capability.repository.ts
  src/libs/modules/log/log.service.ts
  src/libs/utils/respone.entity.ts
Labels: 🗝️ auth, 🔥 enhancement

#91 [HOTFIX] uid 필수값 누락 수정
  src/apps/server/auth/auth.service.ts
  src/libs/modules/database/schema.prisma
Labels: bug, 💽 database, 🗝️ auth

#95 [Fix] 개발 서버 origin에서 port 삭제하여 80포트로 요청이 들어오도록 수정
  src/apps/server/main.ts
Labels: bug

#93 [Feature] 로그아웃 API 구현
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/common/guards/strategies/jwt.strategy.ts
  src/apps/server/common/types/firebase-auth.type.ts
  src/apps/server/experiences/dto/res/createExperienceInfo.res.dto.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/libs/modules/database/repositories/user.repository.ts
  src/libs/modules/database/schema.prisma
  src/libs/modules/firebase/firebase.module.ts
  src/libs/modules/firebase/firebase.service.ts
Labels: ⚡️ feature, 🗝️ auth, ✨ new

#97 [Fix, Docs] test token 발급 API 명세 추가 및 피드백 API 생성
  src/apps/server/app.module.ts
  src/apps/server/test/dtos/post-issue-test-token.dto.ts
  src/apps/server/test/test.controller.ts
  src/apps/server/test/test.service.ts
  src/apps/server/users/dtos/post-feedback.dto.ts
  src/apps/server/users/user.controller.ts
  src/apps/server/users/user.module.ts
  src/apps/server/users/user.service.ts
  src/libs/modules/database/repositories/feedback.repository.ts
Labels: bug, ✍🏻 documentation

#101 [Feature] 자기소개서 단일 조회 API 추가 및 자기소개서 API 관련 리팩터링, 자기소개서 조회 관련 명세 추가
  src/apps/server/main.ts
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/dtos/get-resume.dto.ts
  src/apps/server/resumes/dtos/post-question.dto.ts
  src/apps/server/resumes/dtos/post-resume.dto.ts
  src/apps/server/resumes/services/question.service.ts
  src/apps/server/resumes/services/resumes.service.ts
  src/libs/modules/database/schema.prisma
Labels: ✍🏻 documentation, ⚡️ feature, ✨ new, 🔥 enhancement, [API] Resume

#103 [Feature] 자기소개서 문항 조회 API 추가
  src/apps/server/app.controller.ts
  src/apps/server/experiences/dto/res/createExperienceInfo.res.dto.ts
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/dtos/get-question.dto.ts
  src/apps/server/resumes/dtos/post-question.dto.ts
  src/apps/server/resumes/services/question.service.ts
  src/apps/server/resumes/services/resumes.service.ts
  src/apps/server/test/test.controller.ts
  src/apps/server/users/user.controller.ts
  src/libs/modules/database/schema.prisma
Labels: ✍🏻 documentation, ⚡️ feature, ✨ new, 🔥 enhancement, [API] Resume

#106 Feature/#105/pid 105/post experience
  src/apps/server/common/consts/experience-attribute.const.ts
  src/apps/server/experiences/dto/req/createExperienceInfo.dto.ts
  src/apps/server/experiences/dto/req/upsertExperience.dto.ts
  src/apps/server/experiences/dto/res/upsertExperienceInfo.res.dto.ts
  src/apps/server/experiences/experience.controller.ts
  src/apps/server/experiences/experience.service.ts
  src/apps/server/experiences/interface/experience-repository.interface.ts
  src/apps/server/experiences/interface/experience-select.interface.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/libs/modules/database/repositories/experience-transaction.repository.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/database/schema.prisma
Labels: ⚡️ feature, [API] Experience

#109 [Feature] 온보딩 여부 조회 API 추가
  src/apps/server/app.module.ts
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.module.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/auth/dtos/post-signin.dto.ts
  src/apps/server/auth/types/user.type.ts
  src/apps/server/onboarding/docs/get-onboarding.doc.ts
  src/apps/server/onboarding/dtos/get-onboarding.dto.ts
  src/apps/server/onboarding/onboarding.controller.ts
  src/apps/server/onboarding/onboarding.module.ts
  src/apps/server/onboarding/onboarding.service.ts
  src/apps/server/resumes/dtos/post-resume.dto.ts
  src/apps/server/resumes/services/resumes.service.ts
  src/libs/modules/database/repositories/onboarding.repository.ts
  src/libs/modules/database/schema.prisma
Labels: ⚡️ feature, ✨ new

#118 [Hotfix/Docs]: get resumes response type 수정
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/dtos/get-resume.dto.ts
  src/apps/server/resumes/services/resumes.service.ts
Labels: bug, ✍🏻 documentation, [API] Resume

#110 Feature/#28/pid 28/keyword
  src/apps/server/common/consts/experience-attribute.const.ts
  src/apps/server/common/decorators/router/route.decorator.ts
  src/apps/server/experiences/controllers/experience-capability.controller.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/req/add-capability.dto.ts
  src/apps/server/experiences/dto/req/create-experience-capabilities.dto.ts
  src/apps/server/experiences/dto/res/addCapability.res.dto.ts
  src/apps/server/experiences/dto/res/createExperienceCapabilities.res.dto.ts
  src/apps/server/experiences/dto/res/createExperienceInfo.res.dto.ts
  src/apps/server/experiences/dto/res/upsertExperienceInfo.res.dto.ts
  src/apps/server/experiences/experience.module.ts
  src/apps/server/experiences/interface/experience-repository.interface.ts
  src/apps/server/experiences/interface/experience-select.interface.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/provider/experience.provider.ts
  src/apps/server/experiences/services/experience-capability.service.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience-capability.repository.ts
  src/libs/modules/database/schema.prisma
Labels: ⚡️ feature, [API] Experience

#120 [Feature] 자기소개서 제목 조회 API
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/docs/get-resume.doc.ts
  src/apps/server/resumes/dtos/get-resume.dto.ts
  src/apps/server/resumes/services/resumes.service.ts
Labels: ⚡️ feature, ✨ new, [API] Resume

#122 [Feature] 경험 카드와 자기소개서 count API
  src/apps/server/app.module.ts
  src/apps/server/collections/collection.controller.ts
  src/apps/server/collections/collection.module.ts
  src/apps/server/collections/collection.service.ts
  src/apps/server/collections/docs/get-count-of-experience-and-resume.doc.ts
  src/apps/server/collections/dtos/get-count-of-experience-and-resume.dto.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: ⚡️ feature, ✨ new

#125 [Feature] 경험카드 역량 키워드 및 개수 조회 API
  src/apps/server/app.module.ts
  src/apps/server/collections/collection.controller.ts
  src/apps/server/collections/collection.module.ts
  src/apps/server/collections/collection.service.ts
  src/apps/server/collections/docs/get-count-of-experience-and-resume.doc.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/get-count-of-experience-and-capability.dto.ts
  src/apps/server/experiences/markdown/get-count-of-experience-and-capability.doc.ts
  src/apps/server/experiences/markdown/get-count-of-experience.md.ts
  src/apps/server/experiences/provider/experience.provider.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/experiences/types/count-experience-and-capability.type.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/docs/get-count-of-resume.dto.ts
  src/apps/server/resumes/dtos/get-count-of-resume.dto.ts
  src/apps/server/resumes/services/resumes.service.ts
  src/libs/modules/database/repositories/abstract.repository.ts
  src/libs/modules/database/repositories/capability.repository.ts
Labels: ⚡️ feature, ✨ new, [API] Collection

#131 [Fix, Refactor] 자기소개서 부분 API 수정
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/docs/post-spell-check.doc.ts
  src/apps/server/resumes/dtos/get-resume.dto.ts
  src/apps/server/resumes/dtos/patch-question-request.dto.ts
  src/apps/server/resumes/dtos/patch-resume.dto.ts
  src/apps/server/resumes/dtos/post-spell-check-request.body.dto.ts
  src/apps/server/resumes/services/question.service.ts
  src/apps/server/resumes/services/resumes.service.ts
  src/libs/modules/api/api.service.ts
  src/libs/modules/database/schema.prisma
  src/libs/utils/hanspell.function.ts
Labels: bug, 🔥 enhancement, [API] Resume

#133 [Feature] 유저 정보 수정 API
  src/apps/server/auth/dtos/post-signin.dto.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/docs/patch-question.doc.ts
  src/apps/server/resumes/dtos/patch-question-request.dto.ts
  src/apps/server/resumes/services/question.service.ts
  src/apps/server/users/docs/patch-user-info.doc.ts
  src/apps/server/users/dtos/patch-user-info.dto.ts
  src/apps/server/users/user.controller.ts
  src/apps/server/users/user.service.ts
  src/libs/modules/database/schema.prisma
Labels: ⚡️ feature, ✨ new, [API] my page

#134 Feature/#123/pid 123/ai table
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.module.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/req/createAiKeywordsAndResume.req.dto.ts
  src/apps/server/ai/dto/res/createAiKeywordsAndResume.res.dto.ts
  src/apps/server/ai/interface/ai-repository.interface.ts
  src/apps/server/ai/markdown/ai.md.ts
  src/apps/server/ai/providers/ai.provider.ts
  src/apps/server/app.module.ts
  src/libs/modules/database/repositories/ai-capability.repository.ts
  src/libs/modules/database/repositories/ai-resume.repository.ts
  src/libs/modules/database/schema.prisma
Labels: 💽 database, [API] Resume, [API] Experience

#138 [Feature/Docs] 스웨거 상황 별 예시 추가할 수 있는 데코레이터 구현
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/dtos/get-resume.dto.ts
  src/libs/decorators/success-response.dto.ts
  src/libs/dtos/success-common-response.dto.ts
  src/libs/helpers/make-instance-by-api-property.function.ts
  src/libs/utils/enum-number-to-array.function.ts
  src/libs/utils/merge-two-object.function.ts
  src/modules/firebase/firebase.module.ts
  src/modules/firebase/firebase.service.ts
Labels: ✍🏻 documentation, ✨ new, 🔥 enhancement

#140 [Feature] 자기소개서 부분 swagger 추가 작성 및 분리
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/docs/delete-resume.doc.ts
  src/apps/server/resumes/docs/get-resume.doc.ts
  src/apps/server/resumes/docs/patch-resume.doc.ts
  src/apps/server/resumes/docs/post-resume.doc.ts
  src/apps/server/resumes/dtos/delete-resume.dto.ts
  src/apps/server/resumes/dtos/patch-resume.dto.ts
  src/apps/server/resumes/dtos/post-resume.dto.ts
  src/apps/server/resumes/services/resumes.service.ts
Labels: ✍🏻 documentation, [API] Resume

#142 [Docs] 자기소개서 문항 관련 명세 파일 분리 및 명세 보충
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/resumes/docs/questions/delete-question.doc.ts
  src/apps/server/resumes/docs/questions/get-question.doc.ts
  src/apps/server/resumes/docs/questions/patch-question.doc.ts
  src/apps/server/resumes/docs/questions/post-question.doc.ts
  src/apps/server/resumes/docs/questions/post-spell-check.doc.ts
  src/apps/server/resumes/docs/resumes/delete-resume.doc.ts
  src/apps/server/resumes/docs/resumes/get-count-of-resume.dto.ts
  src/apps/server/resumes/docs/resumes/get-resume.doc.ts
  src/apps/server/resumes/docs/resumes/patch-resume.doc.ts
  src/apps/server/resumes/docs/resumes/post-resume.doc.ts
  src/apps/server/resumes/dtos/questions/delete-question.dto.ts
  src/apps/server/resumes/dtos/questions/get-question.dto.ts
  src/apps/server/resumes/dtos/questions/patch-question-request.dto.ts
  src/apps/server/resumes/dtos/questions/post-question.dto.ts
  src/apps/server/resumes/dtos/questions/post-spell-check-request.body.dto.ts
  src/apps/server/resumes/dtos/resumes/delete-resume.dto.ts
  src/apps/server/resumes/dtos/resumes/get-count-of-resume.dto.ts
  src/apps/server/resumes/dtos/resumes/get-resume.dto.ts
  src/apps/server/resumes/dtos/resumes/patch-resume.dto.ts
  src/apps/server/resumes/dtos/resumes/post-resume.dto.ts
  src/apps/server/resumes/services/question.service.ts
  src/apps/server/resumes/services/resumes.service.ts
Labels: ✍🏻 documentation, [API] Resume

#144 Feature/#136/pid 136/open ai
  package.json
  src/apps/server/test/docs/test-api.md.ts
  src/apps/server/test/dtos/prompt-test-body-req.dto.ts
  src/apps/server/test/test.controller.ts
  src/apps/server/test/test.module.ts
  src/libs/modules/env/env.enum.ts
  src/libs/modules/open-ai/open-ai.module.ts
  src/libs/modules/open-ai/open-ai.service.ts
  src/libs/modules/open-ai/openAIModel.enum.ts
  yarn.lock
Labels: ✨ new

#149 feat: 유저 직무에서 비즈니스와 토목 삭제
  src/libs/modules/database/schema.prisma
Labels: 💽 database

#153 [Hotfix] 자기소개서 제목 길이를 13에서 20으로 수정
  src/libs/modules/database/schema.prisma
Labels: bug, 💽 database

#156 [Feature] frontend origin을 cors origin에 등록
  src/apps/server/main.ts
  src/libs/modules/env/env.enum.ts
Labels: 🔥 enhancement

#165 Feature/#164/create resume prompt
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.module.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/req/promptKeyword.req.dto.ts
  src/apps/server/ai/dto/req/promptResume.req.dto.ts
  src/apps/server/ai/dto/res/promptKeyword.res.dto.ts
  src/apps/server/ai/dto/res/promptResume.res.dto.ts
  src/apps/server/ai/markdown/ai.md.ts
  src/apps/server/ai/prompt/keywordPrompt.ts
  src/apps/server/common/decorators/validation/isOptionalString.decorator.ts
  src/libs/modules/env/env.enum.ts
  src/libs/modules/open-ai/interface/openAiResponse.interface.ts
  src/libs/modules/open-ai/open-ai.service.ts
Labels: ⚡️ feature

#167 [Test] get resumes에서 아무 값도 없을 때 테스트
  src/apps/server/resumes/services/resume.service.spec.ts
Labels: ✨ new, [API] Resume, 🧪 Test

#169 [Feature] 자기소개서 제목 조회 API 테스트 코드 추가
  src/apps/server/resumes/services/resume.service.spec.ts
Labels: ✨ new, [API] Resume

#174 [Test] resume title 가져오는 api 응답 테스트
  src/apps/server/resumes/services/resume.service.spec.ts
Labels: ✨ new, [API] Resume, 🧪 Test

#180 [Test] 자기소개서 한 개 조회 API Handler 테스트
  src/apps/server/resumes/services/resume.service.spec.ts
Labels: ✨ new, [API] Resume, 🧪 Test

#183 [Feature] cookie option에 sameSite none, secure true 추가
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.service.ts
Labels: 🗝️ auth, 🔥 enhancement

#185 [Chore] global prefix를 api로 설정
  src/apps/server/main.ts
Labels: 🗝️ auth, 🔥 enhancement

#188 [Chore] 서버 실행 스크립트 수정
  buildAndStart.sh
Labels: 🔥 enhancement

#193 [Hotfix] allow-origin 에 모든 오리진 추가
  src/apps/server/main.ts
Labels: 🗝️ auth

#190 [#181] 데이터베이스 스키마 수정
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.module.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/res/createAiKeywordsAndResume.res.dto.ts
  src/apps/server/ai/providers/ai.provider.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/experiences/experience.module.ts
  src/apps/server/experiences/services/experience-capability.service.ts
  src/apps/server/experiences/types/count-experience-and-capability.type.ts
  src/libs/modules/database/repositories/ai-capability.repository.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/database/schema.prisma
Labels: 💽 database, ♻️ refactor

#191 [Feature/Refactor/Fix] 토큰 관련 설정 수정 및 토큰 예외 타입 추가
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.module.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/auth/dtos/post-reissue.dto.ts
  src/apps/server/common/exceptions/base.exception.ts
  src/apps/server/common/exceptions/no-token.exception.ts
  src/apps/server/common/exceptions/token-expired.exception.ts
  src/apps/server/common/guards/jwt-auth.guard.ts
  src/apps/server/common/guards/jwt-refresh.guard.ts
  src/apps/server/common/guards/strategies/jwt-refresh.strategy.ts
  src/apps/server/common/guards/strategies/jwt.strategy.ts
  src/apps/server/common/types/jwt-expiration.type.ts
  src/apps/server/test/test.controller.ts
  src/apps/server/test/test.service.ts
  src/libs/modules/env/env.enum.ts
Labels: 🗝️ auth, 🔥 enhancement

#203 [Hotfix] guard property 접근 시 발생하는 에러 수정
  src/apps/server/common/exceptions/unknown.exception.ts
  src/apps/server/common/guards/jwt-auth.guard.ts
  src/apps/server/common/guards/jwt-refresh.guard.ts
Labels: bug, 🗝️ auth

#204 [Fix] 경험카드 조회 시 모든 유저의 경험카드 가져오는 버그 수정
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: [API] Resume

#200 Feature/#199/save prompt
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/req/promptAiKeyword.req.dto.ts
  src/apps/server/ai/dto/req/promptResume.req.dto.ts
  src/apps/server/ai/dto/res/createAiKeywordsAndResume.res.dto.ts
  src/apps/server/ai/dto/res/promptKeyword.res.dto.ts
  src/apps/server/ai/dto/res/promptResume.res.dto.ts
  src/apps/server/ai/markdown/ai.md.ts
  src/apps/server/ai/prompt/keywordPrompt.ts
  src/apps/server/experiences/dto/req/upsertExperience.dto.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/env/env.enum.ts
Labels: ♻️ refactor, 🔥 enhancement, [API] Prompt

#205 Feature/#198/prompt
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/req/createAiKeywordsAndResume.req.dto.ts
  src/apps/server/ai/dto/req/promptSummary.req.dto.ts
  src/apps/server/ai/dto/res/promptKeyword.res.dto.ts
  src/apps/server/ai/dto/res/promptSummary.res.dto.ts
  src/apps/server/ai/markdown/ai.md.ts
  src/apps/server/ai/prompt/keywordPrompt.ts
  src/apps/server/experiences/dto/req/upsertExperience.dto.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/experiences/types/experience-card.type.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/database/schema.prisma
  src/libs/modules/env/env.enum.ts
Labels: ⚡️ feature, [API] Prompt

#207 [Feature] 페이지네이션 세팅
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/req/get-experience.dto.ts
  src/apps/server/main.ts
  src/libs/pagination/pagination-meta.dto.ts
  src/libs/pagination/pagination-option.dto.ts
  src/libs/pagination/pagination.dto.ts
  src/libs/pagination/pagination.type.ts
Labels: ⚡️ feature, ✨ new

#215 Feature/#214/pid 214/get experience
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/req/promptAiKeyword.req.dto.ts
  src/apps/server/ai/dto/req/promptResume.req.dto.ts
  src/apps/server/ai/dto/req/promptSummary.req.dto.ts
  src/apps/server/common/decorators/validation/isCustomNumber.decorator.ts
  src/apps/server/common/decorators/validation/isCustomString.decorator.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/req/experienceIdParam.dto.ts
  src/apps/server/experiences/dto/req/updateExperience.dto.ts
  src/apps/server/experiences/dto/res/createExperience.res.dto.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/experiences/dto/res/getExperienceById.res.dto.ts
  src/apps/server/experiences/dto/res/updateExperienceInfo.res.dto.ts
  src/apps/server/experiences/interface/experience-repository.interface.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: ⚡️ feature, [API] Experience

#217 Feature/#216/authorize cookie
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.module.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/common/guards/strategies/jwt-refresh.strategy.ts
  src/apps/server/common/guards/strategies/jwt.strategy.ts
  src/apps/server/test/test.controller.ts
  src/apps/server/test/test.module.ts
Labels: 🗝️ auth, 🔥 enhancement

#219 Feature/#218/cicd
  .github/workflows/deploy-main.yml
  appspec.yml
  deploy-before.sh
  package.json
  scripts/deploy-before.sh
  scripts/deploy-run.sh
Labels: ☁️ AWS, ✨ new

#221 [Feature] 유저 정보 가져오는 API 추가 & 회원가입/로그인 시 닉네임을 반환하도록 수정
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/auth/dtos/post-signin.dto.ts
  src/apps/server/auth/types/jwt-token.type.ts
  src/apps/server/common/guards/signin.guard.ts
  src/apps/server/common/guards/strategies/jwt-refresh.strategy.ts
  src/apps/server/common/guards/strategies/jwt.strategy.ts
  src/apps/server/experiences/controllers/experience-capability.controller.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/interface/experience-repository.interface.ts
  src/apps/server/experiences/services/experience-capability.service.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/onboarding/onboarding.controller.ts
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
  src/apps/server/users/docs/get-user.doc.ts
  src/apps/server/users/dtos/get-user.dto.ts
  src/apps/server/users/user.controller.ts
  src/apps/server/users/user.service.ts
  src/libs/modules/database/repositories/user.repository.ts
Labels: ⚡️ feature, 🗝️ auth, ✨ new, 🔥 enhancement

#223 [Feature] 서버 실행 shell 스크립트 수정
  buildAndStart.sh
Labels: ☁️ AWS

#209 [Feature] 경험분해 Get /experience pagination 적용
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/index.ts
  src/apps/server/experiences/dto/req/get-experience.dto.ts
  src/apps/server/experiences/dto/req/index.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/experiences/dto/res/index.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/markdown/index.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/pagination/pagination-meta.dto.ts
  src/libs/pagination/pagination-option.dto.ts
  src/libs/pagination/pagination.dto.ts
  src/libs/pagination/pagination.type.ts
Labels: ♻️ refactor, 🔥 enhancement, [API] Experience

#227 [Hotfix] 모든 경험 카드 조회에서 유저 아이디 where절 누락 수정
  src/libs/modules/database/repositories/experience.repository.ts
Labels: bug, [API] Experience

#229 [Fix] 회원탈퇴 시 데이터베이스에서 유저가 삭제되지 않는 에러 수정
  src/apps/server/auth/auth.service.ts
  src/apps/server/common/filters/custom-exception.filter.ts
  src/libs/modules/database/schema.prisma
Labels: bug, 🗝️ auth

#231 [Feature] 직무 선택 온보딩 경험 여부 컬럼 추가 & 회원가입/로그인 시 반환되는 온보딩 값에 직무 선택 온보딩 경험 여부 추가
  src/apps/server/onboarding/dtos/get-onboarding.dto.ts
  src/apps/server/onboarding/dtos/patch-onboarding.dto.ts
  src/libs/modules/database/schema.prisma
Labels: 💽 database, 🗝️ auth, 🔥 enhancement
