Repository depromeet/InsightOut-Server, pull requests merged in 2023-07, with the labels that each got.

#237 [Chore] aiResume 의 content 길이를 1000으로 수정
  src/libs/modules/database/schema.prisma
Labels: bug, 💽 database

#239 [Fix]: ai resume 작성 부분 transaction timeout 연장
  src/apps/server/ai/ai.service.ts
Labels: bug, [API] Resume

#241 [Fix] get experienceId 순서를 가장 뒤로 이동
  src/apps/server/experiences/controllers/experience.controller.ts
Labels: bug, [API] Experience

#242 키워드 없을 시 에러 아닌 빈 배열 내려주기
  src/apps/server/experiences/services/experience.service.ts
Labels: bug

#252 [#251] ai 추천 자기소개서 조회 API 작성
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/res/getAiResume.res.dto.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/res/getAiResume.res.dto.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/provider/experience.provider.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/ai-resume.repository.ts
Labels: ⚡️ feature, [API] Experience

#243 [Feature] 모아보기 조회 시 키워드를 모두 반환하도록 수정
  .vscode/launch.json
  src/apps/server/common/consts/experience-attribute.const.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/experiences/interface/experience-select.interface.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/dtos/success-common-response.dto.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/pagination/pagination-meta.dto.ts
  src/libs/pagination/pagination-option.dto.ts
Labels: 🔥 enhancement, [API] Experience

#245 [Docs] Swagger API 별 사용되는 페이지 카테고라이징
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/dto/req/index.ts
  src/apps/server/ai/dto/res/index.ts
  src/apps/server/ai/dto/res/promptKeyword.res.dto.ts
  src/apps/server/ai/markdown/ai.md.ts
  src/apps/server/auth/auth.controller.ts
  src/apps/server/common/markdowns/swagger-description.markdown.ts
  src/apps/server/experiences/controllers/experience-capability.controller.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/res/index.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/markdown/get-count-of-experience-and-capability.doc.ts
  src/apps/server/experiences/markdown/get-count-of-experience.md.ts
  src/apps/server/experiences/markdown/get-star-from-experience.md.ts
  src/apps/server/main.ts
  src/apps/server/onboarding/docs/get-onboarding.doc.ts
  src/apps/server/onboarding/docs/patch-onboarding.doc.ts
  src/apps/server/resumes/docs/questions/delete-question.doc.ts
  src/apps/server/resumes/docs/questions/get-question.doc.ts
  src/apps/server/resumes/docs/questions/patch-question.doc.ts
  src/apps/server/resumes/docs/questions/post-question.doc.ts
  src/apps/server/resumes/docs/questions/post-spell-check.doc.ts
  src/apps/server/resumes/docs/resumes/delete-resume.doc.ts
  src/apps/server/resumes/docs/resumes/get-count-of-resume.dto.ts
  src/apps/server/resumes/docs/resumes/get-resume.doc.ts
  src/apps/server/resumes/docs/resumes/patch-resume.doc.ts
  src/apps/server/resumes/docs/resumes/post-resume.doc.ts
  src/apps/server/users/docs/get-user.doc.ts
  src/apps/server/users/docs/patch-user-info.doc.ts
Labels: ✍🏻 documentation

#255 Feature/#233/pid 233/prompt cronjob
  package.json
  src/apps/server/app.module.ts
  src/libs/modules/cron/cron.abstract.ts
  src/libs/modules/cron/cron.module.ts
  src/libs/modules/cron/enum/cron.enum.ts
  src/libs/modules/cron/service/every-day-at-mid-night.service.ts
  yarn.lock
Labels: [API] Prompt

#258 feat: get -post -put-delete 순으로 controller 정리
  src/apps/server/ai/ai.controller.ts
  src/apps/server/auth/auth.controller.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/resumes/controllers/question.controller.ts
  src/apps/server/resumes/controllers/resumes.controller.ts
Labels: ♻️ refactor

#267 [Fix] ai 서비스 사용 시 userId를 받도록 수정
  src/apps/server/ai/ai.controller.ts
  src/apps/server/ai/ai.service.ts
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: bug, [API] Experience, [API] Prompt

#268 [Feature] timeout 확인용 API 추가
  src/apps/server/common/consts/time.const.ts
  src/apps/server/common/decorators/timeout.decorator.ts
  src/apps/server/common/interceptors/timeout.interceptor.ts
  src/apps/server/test/dtos/timeout-test.dto.ts
  src/apps/server/test/test.controller.ts
Labels: ⚡️ feature

#274 [Feature] ai 키워드 종류의 추천을 2개까지만 추천하도록 개선
  src/apps/server/ai/ai.service.ts
Labels: 🔥 enhancement, [API] Prompt

#271 feat: utilization 삭제 << 더이상 사용하지 않음
  src/apps/server/common/consts/experience-attribute.const.ts
  src/apps/server/experiences/dto/req/updateExperience.dto.ts
  src/apps/server/experiences/dto/res/createExperience.res.dto.ts
  src/apps/server/experiences/dto/res/getExperienceById.res.dto.ts
  src/apps/server/experiences/dto/res/updateExperienceInfo.res.dto.ts
  src/apps/server/experiences/interface/experience-select.interface.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/database/schema.prisma
Labels: 💽 database, ♻️ refactor

#276 [Feature] AI 자기소개서 추천 문항 프롬프트 개선
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/prompt/keywordPrompt.ts
  src/libs/modules/open-ai/interface/aiResponse.interface.ts
  src/libs/modules/open-ai/open-ai.service.ts
Labels: bug, 🔥 enhancement, [API] Prompt

#284 [Feature] 카드 뒷면 데이터에 필요한 유저 직무 역량 키워드 프로퍼티 추가
  src/apps/server/ai/ai.service.ts
  src/apps/server/experiences/dto/res/getExperienceById.res.dto.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/open-ai/open-ai.service.ts
Labels: [API] Experience

#280 [#277] 프롬프트 시 Status Done으로 변경해주기
  src/apps/server/ai/ai.service.ts
Labels: [API] Experience

#289 [Feature] 랜덤 닉네임 생성을 서버에서 하도록 수정
  src/apps/server/auth/auth.service.ts
  src/apps/server/test/test.controller.ts
  src/apps/server/test/test.module.ts
  src/apps/server/test/test.service.ts
  src/libs/modules/api/api.service.ts
  src/libs/modules/api/data/nickname_word.data.ts
Labels: bug, ⚡️ feature, [API] 🗝️ auth

#293 [Hotfix] 유저 중복 검사를 email로 수행
  src/apps/server/auth/auth.service.ts
Labels: bug, [API] 🗝️ auth

#297 [Hotfix] experiece_capability와 capability의 onDelete를 Cascade로 변경
  src/libs/modules/database/schema.prisma
Labels: bug, 💽 database

#290 Feature/#285/add experienc fk to capability
  package.json
  src/apps/server/ai/ai.service.ts
  src/apps/server/ai/dto/res/getAiResume.res.dto.ts
  src/apps/server/ai/dto/res/promptKeyword.res.dto.ts
  src/apps/server/auth/auth.controller.ts
  src/apps/server/auth/auth.service.ts
  src/apps/server/common/consts/experience-attribute.const.ts
  src/apps/server/experiences/controllers/experience-capability.controller.ts
  src/apps/server/experiences/dto/res/add-user-capability.res.dto.ts
  src/apps/server/experiences/dto/res/get-count-of-experience-and-capability.res.dto.ts
  src/apps/server/experiences/dto/res/getExperience.res.dto.ts
  src/apps/server/experiences/dto/res/getExperienceById.res.dto.ts
  src/apps/server/experiences/dto/res/index.ts
  src/apps/server/experiences/interface/experience-repository.interface.ts
  src/apps/server/experiences/interface/experience-select.interface.ts
  src/apps/server/experiences/provider/experience.provider.ts
  src/apps/server/experiences/services/experience-capability.service.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/experiences/types/count-experience-and-capability.type.ts
  src/apps/server/resumes/dtos/resumes/get-resume.dto.ts
  src/apps/server/resumes/services/resumes.service.ts
  src/apps/server/users/dtos/get-user.dto.ts
  src/libs/modules/database/repositories/ai-resume.repository.ts
  src/libs/modules/database/repositories/capability.repository.ts
  src/libs/modules/database/repositories/experience-capability.repository.ts
  src/libs/modules/database/repositories/experience.repository.ts
  src/libs/modules/database/repositories/user.repository.ts
  src/libs/modules/database/schema.prisma
  yarn.lock
Labels: bug, 💽 database, [API] 🗝️ auth, ♻️ refactor, [API] Resume, [API] Experience, [API] my page, [API] Collection, [API] Prompt

#299 Feature/#298/get capability develop
  src/apps/server/experiences/dto/req/get-count-of-experience-and-capability.req.dto.ts
  src/apps/server/experiences/markdown/get-count-of-experience-and-capability.doc.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/capability.repository.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: 🔥 enhancement

#304 [#303] experience 삭제 API
  src/apps/server/experiences/controllers/experience.controller.ts
  src/apps/server/experiences/dto/res/delete-experience.res.dto.ts
  src/apps/server/experiences/markdown/experience.md.ts
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: ⚡️ feature, [API] Experience

#308 [#307] db 수정 및 SetNull변경
  src/libs/modules/database/schema.prisma
Labels: bug, [API] Experience

#310 [Feature] 유효한 경험 카드인지 검사하는 로직 추가
  src/libs/modules/database/repositories/experience.repository.ts
Labels: bug, 🔥 enhancement, [API] Resume

#312 [Fix] 경험카드 단일 조회에서 AI 자기소개서 추천 문항을 반환하도록 수정
  src/apps/server/experiences/dto/res/getExperienceById.res.dto.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: bug, [API] Experience

#317 fix: experienceInfo에서 analysis 내려오지 않는 부분 수정
  src/libs/modules/database/repositories/experience.repository.ts
Labels: bug, [API] Experience

#320 fix: ExperienceStatus 안내려주는 부분 추가
  src/apps/server/experiences/dto/res/getExperienceCardInfo.res.dto.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/experiences/types/experience-card.type.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: bug

#324 [Feature] check experience capability
  src/apps/server/experiences/dto/req/get-count-of-experience-and-capability.req.dto.ts
  src/apps/server/experiences/services/experience.service.ts
  src/apps/server/experiences/types/count-experience-and-capability.type.ts
  src/libs/modules/database/repositories/capability.repository.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: 🔥 enhancement, [API] Experience

#328 [#327] bug: experienceId 같이 내려주기
  src/apps/server/ai/dto/res/getAiResume.res.dto.ts
  src/libs/modules/database/repositories/ai-resume.repository.ts
Labels: bug

#326 [Fix] 경험 카드 키워드 로직 수정
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/capability.repository.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: [API] Experience

#329 [Fix] 경험분해 페이지네이션 개수 조회 수정
  src/apps/server/experiences/services/experience.service.ts
  src/libs/modules/database/repositories/experience.repository.ts
Labels: [API] Experience

#330 [Fix] 키워드 개수가 안 맞는 에러 수정
  src/apps/server/experiences/dto/res/get-count-of-experience-and-capability.res.dto.ts
  src/apps/server/experiences/services/experience.service.ts
Labels: 🔥 enhancement, [API] Experience
